<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shanshan Chen</title>
	<link rel="stylesheet" type="text/css" href="css/portfolio.css">
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Lato:300,700,100' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<!--animition-->
	<link rel="stylesheet" href="css/animsition.min.css">
	<script src="js/animsition.min.js"></script>

	<!--lightbox-->
	<link href="css/lightbox.css" rel="stylesheet">

	<!--DropDownMenu-->
	<script>
			$(document).ready(function() {
  
				function closeDropdown () {
    				$('li.top-level-list-item.dropdown-open').removeClass('dropdown-open');

   					$(document).unbind('click', closeDropdown); // Make sure we clean up the bind though
  			 	}
  
  			  	$('a.top-level-link').click(function (e) {
					e.preventDefault();
					e.stopPropagation();

					var $menu = $(this).parent(),
		    			is_open = $menu.hasClass('dropdown-open');

					closeDropdown();

					if( ! is_open ) {
						$menu.addClass('dropdown-open');
						$open_menu_item = $menu;
      					$(document).bind('click', closeDropdown); // This basically binds to every other element on the page.
    			  	}
				});

					// Prevent closeDropdown from firing inside our dropdowns
					$('.dropdown-menu').on('click', function (e) { e.stopPropagation(); });
			});
	</script>	
</head>
