<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  	{% include header.html %}

  	<div class="mobileSiteTitle">
		<a href="index.html">
			<h3>CHEN SHANSHAN
			<br>
			/ 陳 珊珊</h3></a>
	</div>
	<div id="headerWrapper">
		<div id="siteTitle">
			<a href="index.html">
				<h3>CHEN SHANSHAN</h3>
				<br>
				<p>/ 陳 珊珊</p></a>
		</div>
		<div class="mainNav">
			<ul>
				<li><a href="photographypage.html"><h4>photography/摄影</h4></a></li>
					<div id="subMenu">
						<li><a href="photography-roskiworks.html"><h5>roski works</h5></a></li>
						<li><a href="photography-personalworks.html"><h5>personal works</h5></li></a>
					</div>	
			</ul>
		</div>	
	</div>

    {{ content }}

    {% include footer.html %}
  </body>

</html>
